
    <div class="tb-sales-countries__header" style="width: {{elementWidth}}px">
        <div class="tb-sales-countries__column">
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__label">SCB Presence Countries</div>
                <div class="tb-sales-countries__count">4</div>
            </div>
        </div>
        <div class="tb-sales-countries__column">
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__label">Pending Countries</div>
                <div class="tb-sales-countries__count">32</div>
            </div>
        </div>
        <div class="tb-sales-countries__column">
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__label">SCB Non-Presence Countries</div>
                <div class="tb-sales-countries__count">1</div>
            </div>
        </div>
    </div>
    <div class="tb-sales-countries__content">
        <div class="tb-sales-countries__column">
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__label">All</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="remove_circle"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__label">Thailand</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="remove_circle"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__label">UAE</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="remove_circle"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__label">Malaysia</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="remove_circle"}}
                </div>
            </div>
        </div>
        <div class="tb-sales-countries__column">
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">All</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Japan</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">India</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">UK</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">UAE</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Nepal</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Korea, Republic of</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">France</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Indonesia</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Indonesia</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Indonesia</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Indonesia</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Indonesia</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Indonesia</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Indonesia</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Indonesia</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Indonesia</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Indonesia</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Indonesia</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Indonesia</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Indonesia</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Indonesia</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Indonesia</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_left"}}
                </div>
                <div class="tb-sales-countries__label">Indonesia</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="keyboard_arrow_circle_right"}}
                </div>
            </div>
        </div>
        <div class="tb-sales-countries__column">
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__label">All</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="remove_circle"}}
                </div>
            </div>
            <div class="tb-sales-countries__element">
                <div class="tb-sales-countries__label">Brazil</div>
                <div class="tb-sales-countries__icon">
                    {{wb-md-icon iconName="remove_circle"}}
                </div>
            </div>
        </div>
    </div>
