{{#unless title}}
    <div class="card-message__icon {{iconWrapperColorClass}}">
        {{wb-md-icon iconName=iconName color=iconColor ripple=false size=iconSize}}
    </div>
    <div class="card-message__text">{{yield}}</div>
    {{#if linkText}}
        <div class="card-message__actions"><a href="" {{action "closeMessage" preventDefault=true}}>{{linkText}}</a></div>
    {{/if}}
{{else}}
    {{#wb-md-content-toolbar pad="null"}}
        <div class="content-toolbar__row">
            <div class="content-toolbar__element">
                <div class="card-message__icon {{iconWrapperColorClass}}">
                    {{wb-md-icon iconName=iconName color=iconColor size=iconSize ripple=false}}
                </div>
            </div>
            <div class="content-toolbar__element">
                <div class="card-message__title">
                    {{title}}
                </div>
            </div>
        </div>
    {{/wb-md-content-toolbar}}
    <div class="card-message__text">
        {{{yield}}}
    </div>
    {{#wb-md-content-toolbar pad="null" position="right"}}
        <div class="content-toolbar__row">
            <div class="content-toolbar__element">
                {{wb-md-button color="link" label="Got it" action="closeMessage"}}
            </div>
        </div>
    {{/wb-md-content-toolbar}}
{{/unless}}
